@keyframes imgFloat {
  0% {
    border-radius: 55% 45% 55% 45%;
  }
  25% {
    border-radius: 60% 40% 60% 40%;
  }
  50% {
    border-radius: 55% 45% 55% 45%;
  }
  75% {
    border-radius: 50% 50% 50% 50%;
  }
  100% {
    border-radius: 55% 45% 55% 45%;
  }
}

/* @keyframes arco-iris-4122ff6f {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

@keyframes arco-iris-4122ff6f {
  0% {
    border-bottom-color: #006bcb;
  }
  25% {
    border-bottom-color: #000177;
  }
  50% {
    border-bottom-color: #006bcb;
  }
  75% {
    border-bottom-color: #000177;
  }
  100% {
    border-bottom-color: #fff;
  }
}

.container header {
  align-content: center;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 100vh;
}
.header {
  display: grid;
  grid-template-rows: repeat(3, auto);
  max-width: 100%;
  height: 60%;
  align-content: baseline;
}

.header-h1s {
  padding-bottom: 120px;
}

.header-h1-1 h1 {
  font-family: monospace;
  font-weight: 400;
  font-size: 45px;
  color: white;
  line-height: 100%;
  text-align: center;
}

.header-h1-2 h1 {
  font-family: "Lucida Handwriting", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  color: white;
  line-height: 100%;
  text-align: center;
}

.header-h1-2 h2 {
  display: none;
}

.header-h1-1 {
  display: flex;
  max-width: 100%;
  align-items: end;
  justify-content: center;
}

.header-h1-2 {
  display: flex;
  max-width: 100%;
  align-items: baseline;
  justify-content: center;
}

.reserva {
  display: none;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 55% 45% 55% 45%;
  animation: imgFloat 7s ease-in-out infinite;
}

.header-img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  align-content: center;
  border-radius: 55% 45% 55% 45%;
}

.header-img #eu {
  background-image: url("../components/fundoeu.png");
  background-position: center;
  background-position-y: 20%;
  background-size: 120%;
}

@media (min-width: 1008px) {
  /* .hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  } */

  .container header {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .header {
    display: flex;
    gap: 70px;
    height: 100%;
    justify-content: center;
  }

  .header-h1-1 h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 14px;
  }

  .header-h1-2 h1 {
    display: none;
  }

  .header-h1-2 h2 {
    display: flex;
    font-family: monospace;
    font-weight: 400;
    font-size: 80px;
    color: white;
  }

  .header-h1-2 {
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }

  .header-h1s {
    align-content: center;
    padding-bottom: 0;
    width: auto;
  }

  /* .linha {
    border-bottom: 2px solid #fff;
    position: relative;
  } */

  /* .linha::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(90deg, #000177 2.62%, #006bcb 93.38%);
    background-size: 200% 200%; 
    animation: arco-iris-4122ff6f 3s forwards; 
    transition: 0.5s;
  } */

  .linha {
    border-bottom: 2px solid #fff;
    animation: arco-iris-4122ff6f 4s forwards;
    transition: 0.5s;
  }

  .reserva1 {
    white-space: nowrap;
    margin-right: 8%;
  }

  .reserva2 {
    margin-left: 20%;
  }

  .header .header-img {
    max-width: 100%;
    max-height: 100%;
    min-height: 400px;
    min-width: 500px;
    margin-right: 50px;
    margin-left: 50px;
    align-content: center;
  }

  .header img {
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    max-width: none;
  }

  .header-img #eu {
    background-size: 120%;
  }
}
