.sobre-mim {
  display: grid;
  grid-row-start: 2;
  grid-row-end: 2;
}

.curriculo {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.curriculo ul li {
  line-height: 24px;
}

.qualificacoes {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  border-radius: 24px;
  background: #1e3330;
  color: white;
}

.qualificacoes-h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
}

.qualificacoes-lista {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 30px 30px 30px;
}

.qualificacoes-lista ul {
  list-style: none;
}

.experiencias {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  border-radius: 24px;
  background: #4b8078;
  color: white;
}

.experiencias-h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
}

.experiencias-lista {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 30px 30px 30px;
}

.experiencias-lista ul {
  list-style: none;
}

.experience {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  gap: 24px;
}

.experience p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: white;
  text-align: center;
}

.experience {
  flex-direction: column;
}

.experience-time {
  flex-direction: column;
}

.experience .experience-language,
.experience .experience-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.experience .experience-language .experience-unit {
  width: 300px;
  height: 30px;
  border-radius: 24px;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.experience .experience-language .experience-unit .experience-measure {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  height: 30px;
  border: 1px solid white;
  background: linear-gradient(90deg, #1e3330 2.62%, #4b8078 93.38%);
  color: white;
  font-weight: 300;
  text-align: center;
  font-size: 12px;
}

.experience-h2 {
  display: flex;
}

.experience-h2 h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
  margin: 0;
  color: white;
}

.img-estilo {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
}

@keyframes measure-1 {
  0% {
    width: 0%;
  }
  75% {
    width: 75%;
  }
}

@keyframes measure-2 {
  0% {
    width: 0%;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.measure1 {
  width: 75%;
  animation: measure-1 4s linear;
}
.measure2 {
  width: 100%;
  animation: measure-2 2s linear;
}

@media (min-width: 1142px) {
  .curriculo ul li {
    line-height: 50px;
  }

  .qualificacoes-lista {
    font-size: 30px;
    font-weight: 100;
    /* color: #2f2f2f; */
  }

  .experiencias-lista {
    font-size: 30px;
    font-weight: 100;
    /* color: #2f2f2f; */
  }

  h2.qualificacoes-h2 {
    font-size: 50px;
    line-height: 70px;
    /* color: #2f2f2f; */
  }

  h2.experiencias-h2 {
    font-size: 50px;
    line-height: 70px;
    /* color: #2f2f2f; */
  }

  .sobre-mim {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .curriculo {
    display: flex;
    gap: 100px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: none;
    flex-direction: row;
  }

  .experiencias,
  .qualificacoes {
    position: relative;
    max-height: none;
    box-shadow: 5px 5px 8px #000000;
    border-radius: 0;
    /*overflow: hidden;  Garante que o conteúdo fique dentro das bordas arredondadas */
    /* z-index: 1; */
  }

  /* .experiencias::before,
  .qualificacoes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;  Ajusta o raio da borda do pseudo-elemento 
    border: 2px solid transparent;  Cria uma borda inicial transparente 
    background: linear-gradient(90deg, #000177 2.62%, #006bcb 93.38%);
    z-index: -1;  Coloca o pseudo-elemento atrás do conteúdo 
    pointer-events: none;  Evita que o pseudo-elemento interfira nas interações 
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);  Aplica a máscara para funcionar com borda arredondada 
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);  Aplica a máscara para funcionar com borda arredondada no Safari 
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    mask-border: 2px solid transparent;
  } */

  .experience {
    display: none;
  }

  /* 
  .experience-h2 h2 {
    font-size: 50px;
    font-weight: 600px;
  }

  .experience {
    align-items: center;
    max-width: none;
  }

  .experience .experience-time {
    gap: 24px;
  }

  .experience .experience-language img {
    width: 50px;
    height: 50px;
  }

  .experience .experience-language {
    gap: 24px;
  }

  .experience .experience-language .experience-unit {
    width: 800px;
    height: 50px;
    border-radius: 24px;
  }

  .experience .experience-language .experience-unit .experience-measure {
    height: 50px;
    font-size: 15px;
  } */
}
