.container {
  display: grid;
  gap: 24px;
  justify-items: center;
  grid-template-rows: repeat(4, auto);
}

@media (min-width: 1142px) {
  .container {
    margin: 0;
    padding-right: 25px;
    gap: 24px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 65% 35%;
    justify-content: space-between;
  }
}
